<html>
  <head>
    <style>
      body {
        margin-top: 100px;
        margin-right: 100px;
        margin-bottom: 10px;
        margin-left: 70px;
    }

    </style>
  </head>
  <body>
  	<h4 style="text-align: center;"> Either the RSS link that you gave was invalid or the feed couldn't be scrapped. Try again after some time. </h4>
    <h1 style="text-align: center;">Enter the valid RSS link </h1>
    <form id="search-form" name="search" action="/headlines" method="POST" style="text-align: center;" >
    <input id="search-input" name="search" type="text">
    </form>

    

  </body>
</html>